<div class="sidebar-scroll">
    <nav id="leftsidebar-nav" class="sidebar-nav">
        <ul id="main-menu" class="metismenu">
            <li class="heading">اصلی</li>
            <li><a href="/api/dashboard"><i class="icon-home"></i><span>داشبورد</span></a></li>
            <li class="heading">اپ</li>
            <li><a href="app-inbox.html"><i class="icon-envelope"></i><span>صندوق ورودی</span></a></li>
            <li><a href="/api/chat"><i class="icon-bubbles"></i><span>چت</span></a></li>
            <li class="active"><a href="app-calendar.html"><i class="icon-calendar"></i><span>تقویم</span></a></li>
            <li><a href="/api/post"><i class="icon-pencil"></i><span></span> پست جدید</span></a></li>
        </ul>
    </nav>
</div>