
<!doctype html>
<html lang="en">

<head>
<title>:: ام پی لایف :: لیست بلاگ</title>
<%- include('../partials/header') -%>

</head>
<body class="theme-blue rtl">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="/template/assets/images/thumbnail.png" width="48" height="48" alt="Mplify"></div>
        <p>لطفا صبر کنید...</p>
    </div>
</div>
<!-- Overlay For Sidebars -->
<div class="overlay" style="display: none;"></div>

<div id="wrapper">

    <nav class="navbar navbar-fixed-top">
        <%- include('../partials/navbar') -%>

    </nav>

    <div id="leftsidebar" class="sidebar">
        <%- include('../partials/leftslidebar') -%>

    </div>


    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">                        
                        <h2>جزئیات بلاگ</h2>
                    </div>            
                    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                        <ul class="breadcrumb justify-content-end">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                            <li class="breadcrumb-item">بلاگ</li>
                            <li class="breadcrumb-item active">لیست بلاگ</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 left-box">
                    
                    <div class="card single_post">
                        <div class="body">
                            <div class="blog-top d-flex clearfix">
                                <div class="short-name">
                                    <span>JA</span>
                                </div>
                                <h4 class="name">jafar abbasi</h4>
                                <h5 class="time">2h</h5>
                            </div>
                            <h3><a href="blog-details.html">تمام عکس ها دقیق هستند</a></h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                        </div>
                        <div class="footer">
                            <div class="actions">
                                <a href="javascript:void(0);" class="btn btn-outline-secondary">ادامه خواندن</a>
                            </div>
                            <ul class="stats">
                                <li><a href="javascript:void(0);">عمومی</a></li>
                                <li><a href="javascript:void(0);" class="icon-heart">28</a></li>
                                <li><a href="javascript:void(0);" class="icon-bubbles">128</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="card single_post">
                        <div class="body">
                            <div class="blog-top d-flex clearfix">
                                <div class="short-name">
                                    <span>JA</span>
                                </div>
                                <h4 class="name">jafar abbasi</h4>
                                <h5 class="time">2h</h5>
                            </div>
                            <h3><a href="blog-details.html">تمام عکس ها دقیق هستند</a></h3>
                            <div class="img-post">
                                <img class="d-block img-fluid" src="/template/assets/images/blog/blog-page-1.jpg" alt="First slide">
                            </div>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        </div>
                        <div class="footer">
                            <div class="actions">
                                <a href="javascript:void(0);" class="btn btn-outline-secondary">ادامه خواندن</a>
                            </div>
                            <ul class="stats">
                                <li><a href="javascript:void(0);">عمومی</a></li>
                                <li><a href="javascript:void(0);" class="icon-heart">28</a></li>
                                <li><a href="javascript:void(0);" class="icon-bubbles">128</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="card single_post">
                        <div class="body">
                            <div class="blog-top d-flex clearfix">
                                <div class="short-name">
                                    <span>JA</span>
                                </div>
                                <h4 class="name">jafar abbasi</h4>
                                <h5 class="time">2h</h5>
                            </div>
                            <h3><a href="blog-details.html">تمام عکس ها دقیق هستند</a></h3>
                            <div class="img-post">
                                <img class="d-block img-fluid" src="/template/assets/images/blog/blog-page-1.jpg" alt="First slide">
                            </div>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        </div>
                        <div class="footer">
                            <div class="actions">
                                <a href="javascript:void(0);" class="btn btn-outline-secondary">ادامه خواندن</a>
                            </div>
                            <ul class="stats">
                                <li><a href="javascript:void(0);">عمومی</a></li>
                                <li><a href="javascript:void(0);" class="icon-heart">28</a></li>
                                <li><a href="javascript:void(0);" class="icon-bubbles">128</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="card single_post">
                        <div class="body">
                            <div class="blog-top d-flex clearfix">
                                <div class="short-name">
                                    <span>JA</span>
                                </div>
                                <h4 class="name">jafar abbasi</h4>
                                <h5 class="time">2h</h5>
                            </div>
                            <h3><a href="blog-details.html">تمام عکس ها دقیق هستند</a></h3>
                            <div class="img-post">
                                <img class="d-block img-fluid" src="/template/assets/images/blog/blog-page-1.jpg" alt="First slide">
                            </div>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        </div>
                        <div class="footer">
                            <div class="actions">
                                <a href="javascript:void(0);" class="btn btn-outline-secondary">ادامه خواندن</a>
                            </div>
                            <ul class="stats">
                                <li><a href="javascript:void(0);">عمومی</a></li>
                                <li><a href="javascript:void(0);" class="icon-heart">28</a></li>
                                <li><a href="javascript:void(0);" class="icon-bubbles">128</a></li>
                            </ul>
                        </div>
                    </div>
                                            
                    <ul class="pagination pagination-primary">
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">قبلی</a></li>
                        <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">بعدی</a></li>
                    </ul>                
                </div>
                <div class="col-lg-4 col-md-12 right-box">
                    <div class="card">
                        <div class="body search">
                            <div class="input-group m-b-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-magnifier"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="جستجو...">                                    
                            </div>
                        </div>
                    </div>
                
                    <div class="card">
                        <div class="header">
                            <h2>پست های محبوب</h2>                        
                        </div>
                        <div class="body widget popular-post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="single_post border-bottom mb-4">
                                        <div class="blog-top d-flex clearfix">
                                            <div class="short-name">
                                                <span>JA</span>
                                            </div>
                                            <h4 class="name">jafar abbasi</h4>
                                            <h5 class="time">2h</h5>
                                        </div>
                                        <p class="font-weight-bold mb-0">طراح قالب های شرکت و مدیرتی</p>
                                        <span class="mb-2 d-block">10 آذر 1397</span>
                                        <div class="img-post">
                                            <img src="/template/assets/images/blog/blog-page-2.jpg" alt="Awesome Image">                                        
                                        </div>                                            
                                    </div>
                                    <div class="single_post">
                                        <div class="blog-top d-flex clearfix">
                                            <div class="short-name">
                                                <span>JA</span>
                                            </div>
                                            <h4 class="name">jafar abbasi</h4>
                                            <h5 class="time">2h</h5>
                                        </div>
                                        <p class="font-weight-bold mb-0">طراح قالب های شرکت و مدیرتی</p>
                                        <span class="mb-2 d-block">10 آذر 1397</span>
                                        <div class="img-post">
                                            <img src="/template/assets/images/blog/blog-page-2.jpg" alt="Awesome Image">                                        
                                        </div>                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
                </div>
            </div>

        </div>
    </div>
    
</div>

<!-- Javascript -->
<%- include('../partials/scripts') -%>

</body>
</html>
