
<!doctype html>
<html lang="en">

<head>
<title>:: ام پی لایف :: پست بلاگ</title>
<%- include('../partials/header') -%>

</head>
<body class="theme-blue rtl">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="../assets/images/thumbnail.png" width="48" height="48" alt="Mplify"></div>
        <p>لطفا صبر کنید...</p>
    </div>
</div>
<!-- Overlay For Sidebars -->
<div class="overlay" style="display: none;"></div>

<div id="wrapper">

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-brand">
                <a href="index.html">
                    <img src="../assets/images/logo-icon.svg" alt="Mplify Logo" class="img-responsive logo">
                    <span class="name">ام پی لایف</span>
                </a>
            </div>
            
            <div class="navbar-right">
                <ul class="list-unstyled clearfix mb-0">
                    <li>
                        <div class="navbar-btn btn-toggle-show">
                            <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
                        </div>                        
                        <a href="javascript:void(0);" class="btn-toggle-fullwidth btn-toggle-hide"><i class="fa fa-bars"></i></a>
                    </li>
                    <li>
                        <form id="navbar-search" class="navbar-form search-form">
                            <input value="" class="form-control" placeholder="اینجا جستجو کنید..." type="text">
                            <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
                        </form>
                    </li>
                    <li>
                        <div id="navbar-menu">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="javascript:void(0);" class="mega_menu icon-menu" title="مگا منو">مگا</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="create_new icon-menu" title="ایجاد کار جدید">ایجاد کار جدید</a>
                                </li>
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                        <i class="icon-bell"></i>
                                        <span class="notification-dot"></span>
                                    </a>
                                    <ul class="dropdown-menu animated bounceIn notifications">
                                        <li class="header"><strong>شما 4 اعلان جدید دارید.</strong></li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="icon-info text-warning"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text">کمپین <strong>فروش تعطیلات</strong> نزدیک به حد مجاز بودجه است.</p>
                                                        <span class="timestamp">امروز 10 قبل ظهر</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>                               
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="icon-like text-success"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text">کمپین جدید شما <strong>فروش محصول</strong> تایید شده است.</p>
                                                        <span class="timestamp">امروز 11 قبل ظهر</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="icon-pie-chart text-info"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text">بازدید از سایت توییتر 27 درصد بالاتر از هفته گذشته است.</p>
                                                        <span class="timestamp">امروز 16 بعد ظهر</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="icon-info text-danger"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text">خطا در تنظیمات تجزیه و تحلیل وب سایت</p>
                                                        <span class="timestamp">دیروز</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="footer"><a href="javascript:void(0);" class="more">مشاهده تمام اعلانها</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown"><i class="icon-flag"></i><span class="notification-dot"></span></a>
                                    <ul class="dropdown-menu animated bounceIn task">
                                        <li class="header"><strong>پروژه</strong></li>
                                        <li class="body">
                                            <ul class="menu tasks list-unstyled">
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <span class="text-muted">ساعت نارنجی <span class="float-right">29%</span></span>
                                                        <div class="progress">
                                                            <div class="progress-bar l-turquoise" role="progressbar" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100" style="width: 29%;"></div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <span class="text-muted">زنجیرهای فروزان <span class="float-right">78%</span></span>
                                                        <div class="progress">
                                                            <div class="progress-bar l-slategray" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;"></div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <span class="text-muted">ارشمیدس پروژه <span class="float-right">45%</span></span>
                                                        <div class="progress">
                                                            <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <span class="text-muted">آیزنهاور X <span class="float-right">68%</span></span>
                                                        <div class="progress">
                                                            <div class="progress-bar l-coral" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <span class="text-muted">قالب تمام حرفه ای <span class="float-right">21%</span></span>
                                                        <div class="progress">
                                                            <div class="progress-bar l-amber" role="progressbar" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100" style="width: 21%;"></div>
                                                        </div>
                                                    </a>
                                                </li>                        
                                            </ul>
                                        </li>
                                        <li class="footer"><a href="javascript:void(0);">مشاهده همه</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown"><i class="fa fa-language"></i></a>
                                    <ul class="dropdown-menu animated flipInX choose_language">                                        
                                        <li><a href="javascript:void(0);">English</a></li>
                                        <li><a href="javascript:void(0);">French</a></li>
                                        <li><a href="javascript:void(0);">Spanish</a></li>
                                        <li><a href="javascript:void(0);">Portuguese</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                        <img class="rounded-circle" src="../assets/images/user-small.png" width="30" alt="">
                                    </a>
                                    <div class="dropdown-menu animated flipInY user-profile">
                                        <div class="d-flex p-3 align-items-center">
                                            <div class="drop-left m-l-10">
                                                <img src="../assets/images/user-small.png" class="rounded" width="50" alt="">
                                            </div>
                                            <div class="drop-right">
                                                <h4>ساموئل موریس</h4>
                                                <p class="user-name">samuelmorris@info.com</p>
                                            </div>
                                        </div>
                                        <div class="m-t-10 p-3 drop-list">
                                            <ul class="list-unstyled">
                                                <li><a href="page-profile.html"><i class="icon-user"></i>پروفایل من</a></li>
                                                <li><a href="app-inbox.html"><i class="icon-envelope-open"></i>پیام ها</a></li>
                                                <li><a href="javascript:void(0);"><i class="icon-settings"></i>تنظیمات</a></li>
                                                <li class="divider"></li>
                                                <li><a href="page-login.html"><i class="icon-power"></i>خروج</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="icon-menu js-right-sidebar"><i class="icon-settings"></i></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="leftsidebar" class="sidebar">
        <div class="sidebar-scroll">
            <nav id="leftsidebar-nav" class="sidebar-nav">
                <ul id="main-menu" class="metismenu">
                    <li class="heading">اصلی</li>
                    <li><a href="index.html"><i class="icon-home"></i><span>داشبورد</span></a></li>
                    <li class="heading">اپ</li>
                    <li><a href="app-inbox.html"><i class="icon-envelope"></i><span>صندوق ورودی</span></a></li>
                    <li><a href="app-chat.html"><i class="icon-bubbles"></i><span>چت</span></a></li>
                    <li class="active"><a href="app-calendar.html"><i class="icon-calendar"></i><span>تقویم</span></a></li>
                    <li><a href="app-taskboard.html"><i class="icon-notebook"></i><span>هیئت مدیره</span></a></li>
                    <li class="heading">UI اجزاء</li>
                    <li class="middle">
                        <a href="#uiElements" class="has-arrow"><i class="icon-diamond"></i><span>مولفه</span></a>
                        <ul>
                            <li><a href="ui-card.html">طرح کارت</a></li>
                            <li><a href="ui-typography.html">تایپوگرافی</a></li>
                            <li><a href="ui-tabs.html">تب ها</a></li>
                            <li><a href="ui-buttons.html">دکمه ها</a></li>
                            <li><a href="ui-bootstrap.html">بوت استرپ UI</a></li>
                            <li><a href="ui-icons.html">آیکن ها</a></li>
                            <li><a href="ui-notifications.html">علان ها</a></li>
                            <li><a href="ui-colors.html">رنگ ها</a></li>
                            <li><a href="ui-dialogs.html">گفتگوها</a></li>
                            <li><a href="ui-list-group.html">فهرست گروه</a></li>
                            <li><a href="ui-media-object.html">شیء رسانه</a></li>
                            <li><a href="ui-modals.html">مدال ها</a></li>
                            <li><a href="ui-nestable.html">غیر قابل انعطاف</a></li>
                            <li><a href="ui-progressbars.html">میله پیشرفت</a></li>
                            <li><a href="ui-range-sliders.html">لغزنده محدوده</a></li>
                            <li><a href="ui-treeview.html">نمای درختی</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#forms" class="has-arrow"><i class="icon-pencil"></i><span>فرم ها</span></a>
                        <ul>
                            <li><a href="forms-validation.html">فرم اعتبار سنجی </a></li>
                            <li><a href="forms-advanced.html">عناصر پیشرفته</a></li>
                            <li><a href="forms-basic.html">عناصر پایه</a></li>
                            <li><a href="forms-wizard.html">فرم جادوگر</a></li>
                            <li><a href="forms-dragdropupload.html">کشیدن و رها کردن برای آپلود</a></li>
                            <li><a href="forms-cropping.html">برداشت تصویر</a></li>
                            <li><a href="forms-summernote.html">یاداشت</a></li>
                            <li><a href="forms-editors.html">ویرایشگر CK</a></li>
                            <li><a href="forms-markdown.html">نشانه گذاری</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#Tables" class="has-arrow"><i class="icon-tag"></i><span>جداول</span></a>
                        <ul>
                            <li><a href="table-basic.html">جدول های نمونه</a></li>
                            <li><a href="table-normal.html">جدول های  نرمال</a></li>
                            <li><a href="table-jquery-datatable.html">پایگاه داده جی کوئری</a></li>
                            <li><a href="table-editable.html">جداول قابل ویرایش</a></li>
                            <li><a href="table-color.html">جدول های رنگی</a></li>
                            <li><a href="table-filter.html">فیلتر جدول</a></li>
                            <li><a href="table-dragger.html">جدول کشیدن</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#charts" class="has-arrow"><i class="icon-bar-chart"></i><span>نمودار ها</span></a>
                        <ul>
                            <li><a href="chart-morris.html">موریس</a> </li>
                            <li><a href="chart-flot.html">جاده</a> </li>
                            <li><a href="chart-chartjs.html">نمودار JS</a> </li>
                            <li><a href="chart-jquery-knob.html">دکمه جی کوئری</a> </li>
                            <li><a href="chart-sparkline.html">نمودار جزییات</a></li>
                            <li><a href="chart-peity.html">تقدیس</a></li>
                            <li><a href="chart-c3.html">C3 نمودار</a></li>
                            <li><a href="chart-gauges.html">سنج ها</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#Widgets" class="has-arrow"><i class="icon-puzzle"></i><span>ویجت ها</span></a>
                        <ul>                                    
                            <li><a href="widgets-statistics.html">آمار</a></li>
                            <li><a href="widgets-data.html">تاریخ</a></li>
                            <li><a href="widgets-chart.html">آمار ویجت</a></li>
                            <li><a href="widgets-weather.html">آب و هوا</a></li>
                            <li><a href="widgets-social.html">اجتماعی</a></li>
                            <li><a href="widgets-blog.html">بلاگ</a></li>
                            <li><a href="widgets-ecommerce.html">تجارت</a></li>
                        </ul>
                    </li>
                    <li class="heading">کاربر</li>
                    <li>
                        <a href="#FileManager" class="has-arrow"><i class="icon-folder"></i><span>مدیر فایل</span></a>
                        <ul>                                    
                            <li><a href="file-dashboard.html">داشبورد</a></li>
                            <li><a href="file-documents.html">راهنما</a></li>
                            <li><a href="file-media.html">رسانه</a></li>
                            <li><a href="file-images.html">تصاویر</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#Blog" class="has-arrow"><i class="icon-globe"></i><span>بلاگ</span></a>
                        <ul>
                            <li><a href="blog-dashboard.html">داشبورد</a></li>
                            <li><a href="blog-post.html">پست جدید</a></li>
                            <li><a href="blog-list.html">لیست بلاگ</a></li>
                            <li><a href="blog-details.html">جزئات بلاگ</a></li>
                        </ul>
                    </li>
                    <li class="heading">فوق العاده</li>
                    <li class="top">
                        <a href="#Authentication" class="has-arrow"><i class="icon-lock"></i><span>احراز هویت</span></a>
                        <ul>
                            <li><a href="page-login.html">ورود</a></li>
                            <li><a href="page-register.html">ثبت نام</a></li>
                            <li><a href="page-lockscreen.html">قفل صفحه</a></li>
                            <li><a href="page-forgot-password.html">فراموشی رمز عبور</a></li>
                            <li><a href="page-404.html">صفحه 404</a></li>
                            <li><a href="page-403.html">صفحه 403</a></li>
                            <li><a href="page-500.html">صفحه 500</a></li>
                            <li><a href="page-503.html">صفحه 503</a></li>
                        </ul>
                    </li>
                    <li class="top">
                        <a href="#Pages" class="has-arrow"><i class="icon-docs"></i><span>صفحات</span></a>
                        <ul>
                            <li><a href="page-blank.html">صفحه خالی</a></li>
                            <li><a href="app-contact.html">لیست تماس</a></li>
                            <li><a href="app-contact-grid.html">تماس با کارت</a></li>
                            <li><a href="page-profile.html">پروفایل</a></li>
                            <li><a href="page-gallery.html">گالری</a></li>
                            <li><a href="page-gallery2.html">گالری 2</a></li>
                            <li><a href="page-timeline.html">خط زمان</a></li>
                            <li><a href="page-timeline-h.html">خط زمانی افقی</a></li>
                            <li><a href="page-pricing.html">قیمت</a></li>
                            <li><a href="page-invoices.html">فاکتورها</a></li>
                            <li><a href="page-search-results.html">نتایج جستجو</a></li>
                            <li><a href="page-helper-class.html">کلاس های کمک کننده</a></li>
                            <li><a href="page-teams-board.html">هیئت مدیره تیم</a></li>
                            <li><a href="page-projects-list.html">لیست پروژه ها</a></li>
                            <li><a href="page-maintenance.html">نگهداری</a></li>
                            <li><a href="page-testimonials.html">مشتریان</a></li>
                            <li><a href="page-faq.html">نقل و قل</a></li>
                        </ul>
                    </li>                        
                    <li class="top">
                        <a href="#Maps" class="has-arrow"><i class="icon-map"></i> <span>نقشه ها</span></a>
                        <ul>
                            <li><a href="map-google.html">نقشه گوگل</a></li>
                            <li><a href="map-yandex.html">نقشه یاندکس</a></li>
                            <li><a href="map-jvectormap.html">نقشه جی ویکتور</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="mega_menubar" class="mega_menubar">
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>اشتراک در</h2>
                        </div>
                        <div class="body">
                            <form>
                                <div class="form-group">
                                    <input type="text" value="" placeholder="وارد کردن نام" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" value="" placeholder="وارد کردن ایمیل" class="form-control">
                                </div>
                                <button class="btn btn-primary">اشتراک</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>آکاردئون</h2>
                        </div>
                        <div class="body">
                            <ul class="accordion2">
                                <li class="accordion-item is-active">
                                    <h3 class="accordion-thumb"><span>قالب حرفه ای</span></h3>
                                    <p class="accordion-panel">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                    </p>
                                </li>
                                
                                <li class="accordion-item">
                                    <h3 class="accordion-thumb"><span>منحصر به فرد</span></h3>
                                    <p class="accordion-panel">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                    </p>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>کمپانی</h2>
                        </div>
                        <div class="body">
                            <ul class="list-unstyled links">
                                <li><a href="javascript:void(0);" title="" >آمار ما</a></li>
                                <li><a href="javascript:void(0);" title="" >محرمانه بودن</a></li>                                
                                <li><a href="javascript:void(0);" title="" >درباره ما</a></li>
                                <li><a href="javascript:void(0);" title="" >مشتریان</a></li>
                                <li><a href="javascript:void(0);" title="" >تماس با ما</a></li>                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>گالری</h2>
                        </div>
                        <div class="body">
                            <div class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <img src="../assets/images/image-gallery/1.jpg" class="img-fluid" alt="img" />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/images/image-gallery/2.jpg" class="img-fluid" alt="img" />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/images/image-gallery/3.jpg" class="img-fluid" alt="img" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="rightsidebar" class="right-sidebar">
        <ul class="nav nav-tabs tab-nav-right" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#skins" aria-expanded="true">ام پی لایف</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#contact" aria-expanded="false">تماس</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Timeline" aria-expanded="false">خط زمان </a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane animated fadeIn in active" id="skins" aria-expanded="true">
                <div class="sidebar-scroll">
                    <div class="card">
                        <div class="header">
                            <h2>تنظیمات عمومی</h2>
                        </div>
                        <div class="body">
                            <ul class="setting-list list-unstyled">
                                <li>
                                    <label for="checkbox1" class="fancy-checkbox">
                                        <input id="checkbox1" type="checkbox">
                                        <span>گزارش پنل استفاده</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="checkbox2" class="fancy-checkbox">
                                        <input id="checkbox2" type="checkbox" checked>
                                        <span>ایمیل تغییر مسیر</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="checkbox3" class="fancy-checkbox">
                                        <input id="checkbox3" type="checkbox" checked>
                                        <span>اعلانها</span>
                                    </label>         
                                </li>
                                <li>
                                    <label for="checkbox4" class="fancy-checkbox">
                                        <input id="checkbox4" type="checkbox">
                                        <span>بروز رسانی خودکار</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="checkbox5" class="fancy-checkbox">
                                        <input id="checkbox5" type="checkbox">
                                        <span>آفلاین</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="checkbox6" class="fancy-checkbox">
                                        <input id="checkbox6" type="checkbox">
                                        <span>مجوز محل</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2>رنگ اسکین</h2>
                        </div>
                        <div class="body">
                            <ul class="choose-skin list-unstyled">
                                <li data-theme="purple">
                                    <div class="purple"></div>
                                    <span> بنفش</span>
                                </li>                   
                                <li data-theme="blue" class="active">
                                    <div class="blue"></div>
                                    <span>آبی</span>
                                </li>
                                <li data-theme="cyan">
                                    <div class="cyan"></div>
                                    <span>فیروزه ای</span>
                                </li>
                                <li data-theme="green">
                                    <div class="green"></div>
                                    <span>سبز</span>
                                </li>
                                <li data-theme="orange">
                                    <div class="orange"></div>
                                    <span>نارنجی</span>
                                </li>
                                <li data-theme="blush">
                                    <div class="blush"></div>
                                    <span>صورتی</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2>فضا</h2>
                        </div>
                        <div class="body">
                            <div class="progress progress-xs mb-0">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 89%;">
                                </div>
                            </div>
                            <small>50MB از 10GB استفاده شده</small>
                            <button type="button" class="btn btn-primary btn-block mt-3">ذخیره سازی پیشرفته</button>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn" id="contact" aria-expanded="false">
                <div class="sidebar-scroll">
                    <div class="card">
                        <div class="header">
                            <h2>چت اخیر</h2>
                        </div>
                        <div class="body">
                            <ul class="right_chat list-unstyled">
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="../assets/images/xs/avatar4.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">چریس فاکس</span>
                                                <span class="message">طراح</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>                            
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="../assets/images/xs/avatar5.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">لوس فرناندو</span>
                                                <span class="message">مدیر فروش</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>                            
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="../assets/images/xs/avatar2.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">مایکل</span>
                                                <span class="message">سئو, طراح</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>                            
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="../assets/images/xs/avatar1.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">الکس ناد</span>
                                                <span class="message">PHP متخصص</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>                            
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="../assets/images/xs/avatar3.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">جف اوجی</span>
                                                <span class="message">مدیر تجارت</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>                            
                                </li>                        
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2>لیست تماس</h2>
                        </div>
                        <div class="body">
                            <ul class="list-unstyled contact-list">
                                <li class="d-flex align-items-center">
                                    <span class="contact-img">
                                        <img src="../assets/images/xs/avatar1.jpg" class="rounded" alt="">
                                    </span>
                                    <h4 class="contact-name">جعفر عباسی <span class="d-block">ارومیه</span></h4>
                                </li>
                                <li class="d-flex align-items-center">
                                    <span class="contact-img">
                                        <img src="../assets/images/xs/avatar2.jpg" class="rounded" alt="">
                                    </span>
                                    <h4 class="contact-name">مایکل <span class="d-block">شاهین دژ</span></h4>
                                </li>
                                <li class="d-flex align-items-center">
                                    <span class="contact-img">
                                        <img src="../assets/images/xs/avatar3.jpg" class="rounded" alt="">
                                    </span>
                                    <h4 class="contact-name">شاهی</h4>
                                </li>
                                <li class="d-flex align-items-center">
                                    <span class="contact-img">
                                        <img src="../assets/images/xs/avatar4.jpg" class="rounded" alt="">
                                    </span>
                                    <h4 class="contact-name">فرناندو تورس <span class="d-block">لندن</span></h4>
                                </li>
                                <li class="d-flex align-items-center">
                                    <span class="contact-img">
                                        <img src="../assets/images/xs/avatar5.jpg" class="rounded" alt="">
                                    </span>
                                    <h4 class="contact-name">ران تورس <span class="d-block">آمریکا</span></h4>
                                </li>
                                <li class="d-flex align-items-center">
                                    <span class="contact-img">
                                        <img src="../assets/images/xs/avatar6.jpg" class="rounded" alt="">
                                    </span>
                                    <h4 class="contact-name">مجتبی شاهی</h4>
                                </li>                             
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn" id="Timeline" aria-expanded="false">
                <div class="sidebar-scroll">
                    <div class="card">
                        <div class="header">
                            <h2>آمار من</h2>
                        </div>
                        <div class="body">
                            <ul class="list-unstyled basic-list">
                                <li><i class="icon-book-open m-r-5"></i> پروژه های فعال <span class="badge badge-primary">21</span></li>
                                <li><i class="icon-list m-r-5"></i> وظیفه در انتظار <span class="badge-purple badge">50</span></li>
                                <li><i class="icon-screen-tablet m-r-5"></i> پشتیبانی تیکت ها<span class="badge-success badge">9</span></li>
                                <li><i class="icon-tag m-r-5"></i> پروژه های جدید<span class="badge-info badge">7</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="body">
                            <div class="new_timeline mt-3">
                                <div class="header">
                                    <div class="color-overlay">
                                        <div class="day-number">8</div>
                                        <div class="date-right">
                                        <div class="day-name">دوشنبه</div>
                                        <div class="month">آذر 97</div>
                                        </div>
                                    </div>                                
                                </div>
                                <ul>
                                    <li>
                                        <div class="bullet pink"></div>
                                        <div class="time">11 قبل ظهر</div>
                                        <div class="desc">
                                            <h3>مدیر تیم</h3>
                                            <h4>کلاس کامپیوتر</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bullet green"></div>
                                        <div class="time">12ظهر</div>
                                        <div class="desc">
                                            <h3>توسعه دهنده تیم</h3>
                                            <h4>پیام دهنده</h4>
                                            <ul class="list-unstyled team-info margin-0 p-t-5">                                            
                                                <li><img src="../assets/images/xs/avatar1.jpg" alt="Avatar"></li>
                                                <li><img src="../assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                                                <li><img src="../assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                                                <li><img src="../assets/images/xs/avatar4.jpg" alt="Avatar"></li>                                            
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bullet orange"></div>
                                        <div class="time">1:30بعد ظهر</div>
                                        <div class="desc">
                                            <h3>مایکل کریک</h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bullet green"></div>
                                        <div class="time">2قبل ظهر</div>
                                        <div class="desc">
                                            <h3>پایانی</h3>
                                            <h4>بازگشت به صفحه اصلی</h4>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">                        
                        <h2>پست بلاگ</h2>
                    </div>            
                    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                        <ul class="breadcrumb justify-content-end">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                            <li class="breadcrumb-item">بلاگ</li>
                            <li class="breadcrumb-item active">پست بلاگ</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="واردن کردن عنوان بلاگ" />
                            </div>
                            <select class="form-control show-tick">
                                <option>انتخاب دسته بندی</option>
                                <option>طراحی وب</option>
                                <option>عکاسی</option>
                                <option>تکنولوژی</option>
                                <option>شیوه زندگی</option>
                                <option>ورزشی</option>
                            </select>
                            <div class="form-group m-t-20 m-b-20">
                                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                <small id="fileHelp" class="form-text text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </small>
                            </div>
                            <div class="summernote">
                                <h3 class="m-b-0">سلام,</h3>
                                <h4 class="m-t-0">ما طراح هستیم</h4>
                                <p></p>
                            </div>
                            <button type="button" class="btn btn-block btn-primary   m-t-20">پست</button>
                        </div>
                    </div>
                </div>            
            </div>

        </div>
    </div>
    
</div>

<!-- Javascript -->
<script src="assets/bundles/libscripts.bundle.js"></script>    
<script src="assets/bundles/vendorscripts.bundle.js"></script>


<script src="assets/bundles/mainscripts.bundle.js"></script>
<script src="../assets/vendor/summernote/dist/summernote.js"></script>

<script>
    jQuery(document).ready(function() {

        $('.summernote').summernote({
            height: 350, // set editor height
            minHeight: null, // set minimum height of editor
            maxHeight: null, // set maximum height of editor
            focus: false, // set focus to editable area after initializing summernote
            popover: { image: [], link: [], air: [] }
        });

        $('.inline-editor').summernote({
            airMode: true
        });

    });

    window.edit = function() {
            $(".click2edit").summernote()
        },
        
    window.save = function() {
        $(".click2edit").summernote('destroy');
    }
</script>
</body>
</html>
