
<!doctype html>
<html lang="en">

<head>
<title>:: ام پی لایف :: ثبت نام</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="description" content="Mplify Bootstrap 4.1.1 Admin Template">
<meta name="author" content="ThemeMakker, design by: ThemeMakker.com">

<link rel="icon" href="favicon.ico" type="image/x-icon">
<!-- VENDOR CSS -->

<link rel="stylesheet" href="/public/template/assets/vendor/bootstrap/css/bootstrap.min.rtl.css">
<link rel="stylesheet" href="/public/template/assets/vendor/animate-css/animate.min.css">
<link rel="stylesheet" href="/public/template/assets/vendor/font-awesome/css/font-awesome.min.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="/public/template/assets/css/main.css">

<link rel="stylesheet" href="/public/template//css/main.css">
<link rel="stylesheet" href="/public/template//css/color_skins.css">
</head>

<body class="theme-blue rtl">
	<!-- WRAPPER -->
	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle auth-main">
				<div class="auth-box">
                    <div class="mobile-logo"><a href="index.html"><img src="/public/template/assets/images/logo-icon.svg" alt="Mplify"></a></div>
                    <div class="auth-left">
                        <div class="left-top">
                            <a href="index.html">
                                <img src="/public/template/assets/images/logo-icon.svg" alt="Mplify">
                                <span>ام پی لایف</span>
                            </a>
                        </div>
                        <div class="left-slider">
                            <img src="/public/template/assets/images/login/1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="auth-right">
                        <div class="right-top">
                            <ul class="list-unstyled clearfix d-flex">
                                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                                <li><a href="javascript:void(0);">راهنما</a></li>
                                <li><a href="javascript:void(0);">تماس</a></li>
                            </ul>
                        </div>

                        <div class="card">
                            <div class="header">
                                <p class="lead">ایجاد حساب کاربری</p>
                            </div>
                            <div class="body">
                                <form class="form-auth-small">
                                    <div class="form-group">
                                        <label for="signup-email" class="control-label sr-only">ایمیل</label>
                                        <input type="email" class="form-control" id="signup-email" placeholder="ایمیل شما">
                                    </div>
                                    <div class="form-group">
                                        <label for="signup-password" class="control-label sr-only">رمز عبور</label>
                                        <input type="password" class="form-control" id="signup-password" placeholder="رمز عبور">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">ثبت نام</button>
                                    <div class="bottom">
                                        <span class="helper-text">در حال حاضر یک حساب کاربری دارید؟<a href="page-login.html">ورود</a></span>
                                    </div>
                                </form>
                                <div class="separator-linethrough"><span>یا</span></div>
                                <button class="btn btn-signin-social"><i class="fa fa-facebook-official facebook-color"></i> ورود با حساب کاربری فبس بوک</button>
                                <button class="btn btn-signin-social"><i class="fa fa-twitter twitter-color"></i> ورود با حساب کابری توییتر</button>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
</body>
</html>
