<!doctype html>
<html lang="en">

<head>
    <title>:: ام پی لایف :: ثبت نام</title>
    <%- include('../partials/header') -%>
</head>

<body class="theme-blue rtl">
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="mobile-logo"><a href="index.html"><img src="/template/assets/images/logo-icon.svg"
                                alt="Mplify"></a></div>
                    <div class="auth-left">
                        <div class="left-top">
                            <a href="index.html">
                                <img src="/template/assets/images/logo-icon.svg" alt="Mplify">
                                <span>ام پی لایف</span>
                            </a>
                        </div>
                        <div class="left-slider">
                            <img src="/template/assets/images/login/1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="auth-right">
                        <div class="right-top">
                            <ul class="list-unstyled clearfix d-flex">
                                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                                <li><a href="javascript:void(0);">راهنما</a></li>
                                <li><a href="javascript:void(0);">تماس</a></li>
                            </ul>
                        </div>

                        <div class="card">
                            <div class="header">
                                <p class="lead">ایجاد حساب کاربری</p>
                            </div>
                            <div class="body">
                                <form class="form-auth-small">
                                    <div class="form-group">
                                        <label for="signup-firstname" class="control-label sr-only">نام</label>
                                        <input type="text" class="form-control" id="signup-firstname"
                                            placeholder="نام ">
                                    </div>
                                    <div class="form-group">
                                        <label for="signup-lastname" class="control-label sr-only">نام خانوادگی</label>
                                        <input type="text" class="form-control" id="signup-lastname"
                                            placeholder="نام خانوادگی ">
                                    </div>
                                    <div class="form-group">
                                        <label for="signup-username" class="control-label sr-only">نام کاربری</label>
                                        <input type="text" class="form-control" id="signup-username"
                                            placeholder="نام کاربری ">
                                    </div>
                                    <div class="form-group">
                                        <label for="signup-phones" class="control-label sr-only">تلفن</label>
                                        <input type="text" class="form-control" id="signup-email"
                                            placeholder="تلفن ">
                                    </div>
                                    <div class="form-group">
                                        <label for="signup-email" class="control-label sr-only">ایمیل</label>
                                        <input type="email" class="form-control" id="signup-email"
                                            placeholder="ایمیل ">
                                    </div>
                                    <div class="form-group">
                                        <label for="signup-password" class="control-label sr-only">رمز عبور</label>
                                        <input type="password" class="form-control" id="signup-password"
                                            placeholder="رمز عبور">
                                    </div>
                                    <div id="gender-main" class="form-group">
                                        <label for="" class="control-label sr-only"></label>
                                        <select class="form-control" name="sex" id="sex" tabindex="-1">
                                            <option id="male" value="male">مرد</option>
                                            <option id="female" value="female">زن</option>
                                        </select>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-signup" >ثبت نام</button>
                                    <div class="bottom">
                                        <span class="helper-text">در حال حاضر یک حساب کاربری دارید؟<a
                                                href="page-login.html">ورود</a></span>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->

    <script src="/javascripts/jquery-3.4.1.js"></script>
    <script src="/javascripts/clientjs.js"></script>

</body>
</html>